@charset "UTF-8";
@font-face {
    font-family: newYaer;
    src: url(fontes/Newyear\ Goo.otf)format(opentype);
}

:root{
    --verde: #4ea847;
    --roxo: #3B00B8;
    --amarelo: #fffb00;
    --amarelo2: #c99a00;
    --azul: #000ba7;
    --azul2: #dee1ff;
    --vermelho: #B31A00;
}

*{
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: var(--azul2);
    margin: auto;
    
}

header{
    
    height: 100px;
    background-image: url("imagens/quebra.png");
    background-size: 200px;
    
    
}
header h1{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-family: newYaer, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: white;
    
   
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}
nav p{
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: var(--verde);
    border-radius: 5px;
    color: white;
    width: 110px;

}
nav p:hover{
    background-color: rgba(255, 255, 255, 0.308);
    transition: 0.3s;
    
}
nav{
    padding: 15px;
    background-color: var(--azul);
}
main{
    
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 30px;


}