@charset "UTF-8";
@font-face {
    font-family: conteudo;
    src: url("../fontes/Pacifico-Regular.ttf") format(truetype);
}

*{
    margin: 0px;
}
body{
    background-color: rgb(218, 201, 154);
}


header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}
header > h1{
    color: white;
    padding: 20px;
font-variant: small-caps;}
header > p {
    color: white;
    padding-bottom: 20px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
}
main{
    max-width: 500px;
    background-color: white;
    margin: auto;
    padding-top: 150px;
}
section{
    padding: 10vh 0;
}
section p{
    font-family: conteudo, sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 2em;
}
.imagem{
    background-color: rgba(0, 0, 0, 0.315);
    color: white;

}
.normal{
    background-color: white;
}

